<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerIP</key>
	<string></string>
	<key>NickName</key>
	<string></string>
	<key>userId</key>
	<string></string>
	<key>MeetId</key>
	<string></string>
	<key>listenType</key>
	<string></string>
	<key>ClientType</key>
	<string></string>
</dict>
</plist>
